
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: var(--font-body), sans-serif;
}

@layer base {
  :root {
    --background: 240 10% 3.9%;
    --foreground: 0 0% 98%;
    --card: 240 10% 3.9%;
    --card-foreground: 0 0% 98%;
    --popover: 240 10% 3.9%;
    --popover-foreground: 0 0% 98%;
    --primary: 180 100% 25%;
    --primary-foreground: 0 0% 98%;
    --secondary: 180 5% 15%;
    --secondary-foreground: 0 0% 98%;
    --muted: 180 5% 15%;
    --muted-foreground: 0 0% 63.9%;
    --accent: 198 93% 45%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 180 5% 15%;
    --input: 180 5% 15%;
    --ring: 198 93% 45%;
    --radius: 0.5rem;
    --chart-1: 180 100% 25%;
    --chart-2: 198 93% 45%;
    --chart-3: 210 40% 96.1%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
  }

  .dark {
    --background: 180 3% 96%;
    --foreground: 240 10% 3.9%;
    --card: 0 0% 100%;
    --card-foreground: 240 10% 3.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 240 10% 3.9%;
    --primary: 180 100% 25%;
    --primary-foreground: 0 0% 98%;
    --secondary: 180 5% 90%;
    --secondary-foreground: 240 10% 3.9%;
    --muted: 180 5% 90%;
    --muted-foreground: 240 5.9% 10%;
    --accent: 198 93% 45%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 180 5% 90%;
    --input: 180 5% 90%;
    --ring: 180 100% 25%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
